<div id="header" class="flex-container flex-row">
	<img class="logo"src="../../assets/images/mini-white-logo.png" />
	<div class="flex-container flex-column">
		<h1>Glextra Industries, LLC</h1>
		<hr />
		<nav class="flex-container flex-row flex-wrap">
			<a routerLink=''>Home</a>
			<a routerLink='products'>Products</a>
			<a routerLink='services'>Services</a>
			<a routerLink='articles'>Articles</a>
			<a routerLink='careers'>Careers</a>
			<a routerLink='contact'>Contact</a>
		</nav>
	</div>
</div>