<form [formGroup]="contactForm" class="flex-container flex-column" (ngSubmit)="onSubmit(contactForm.value)">
	<mat-form-field>
		<mat-label>Reason for Contacting</mat-label>
		<mat-select formControlName="reasonForContacting">
			<mat-option *ngFor="let reason of reasons" [value]="reason.value">
				{{reason.viewValue}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Contact Name</mat-label>
		<input matInput formControlName="contactName" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Business Name</mat-label>
		<input matInput formControlName="businessName" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Phone Number</mat-label>
		<input matInput formControlName="phoneNumber" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Email</mat-label>
		<input matInput formControlName="email" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Details</mat-label>
		<textarea matInput formControlName="details"></textarea>
	</mat-form-field>
	<div class="flex-container flex-row flex-j-center flex-a-center mb-20">
		<input type="reset" value="Reset" class="mr-20" />
		<input type="submit" value="Submit" class="ml-20" />
	</div>
</form>