<app-jumbotron [heading]="'CBD'" [sub]="'Wholesale Supplier | Extraction Services'"></app-jumbotron>

<div class="flex-container flex-column">
	<section id="intro" class="flex-container flex-column flex-a-center">
		<h1>Making CBD Work for <span class="em non-italic">YOU</span></h1>
		<p class="indent-first">Introduction to the company, what you do and how you do it? Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. Content needed. </p>
	</section>
	<section id="prod-section" class="flex-container flex-row">
		<img class="col-6 tile-img" src="../../assets/images/cbd-oil-dropper.png" />
		<div class="col-6 tile-text flex-container flex-column flex-a-center flex-j-center">
			<h2>High Quality CBD Products</h2>
			<p>A short blurb on the products. A short blurb on the products. A short blurb on the products. A short blurb on the products. A short blurb on the products. A short blurb on the products. A short blurb on the products. A short blurb on the products. </p>
			<button routerLink="products">Learn More</button>
		</div>
	</section>
	
	<section id="serv-section" class="flex-container flex-row">
		<div class="col-6 tile-text flex-container flex-column flex-a-center flex-j-center">
			<h2>CBD Extraction Services</h2>
			<p>A short blurb on the services. A short blurb on the services. A short blurb on the services. A short blurb on the services. A short blurb on the services. A short blurb on the services. A short blurb on the services. A short blurb on the services. A short blurb on the services. A short blurb on the services. </p>
			<button routerLink="services">Learn More</button>
		</div>
		<img class="col-6 tile-img" src="../../assets/images/hemp-farmers.png" />
	</section>
	
	<section id="articles-section" class="flex-container flex-column flex-a-center">
		<h1 class="m-0">Glextra Industry Updates</h1>
		<h4 class="offset-l-50 no-margin white-text">Our Latest Article About the CBD Industry</h4>
		<div id="most-recent-article" class="flex-container flex-row">
			<h2 class="col-8">This is the Title of the Most Recent Article. Sometimes There might Be Long Titles</h2>
			<div class="col-4 flex-container flex-a-center flex-j-center"><button routerLink="articles">Learn More</button></div>
		</div> 
	</section>
	
	<section id="career-section" class="flex-container flex-row">
		<img class="col-6 tile-img" src="../../assets/images/lab-tech.png" />
		<div class="col-6 tile-text flex-container flex-column flex-a-center flex-j-center">
			<h2>Join Our Growing Team!</h2>
			<p>A short blurb about how great it is to work here. A short blurb about how great it is to work here. A short blurb about how great it is to work here. A short blurb about how great it is to work here. A short blurb about how great it is to work here. A short blurb about how great it is to work here. </p>
			<button routerLink="careers">Learn More</button>
		</div>
	</section>
</div>